[submodule "freeimage317"]
	path = freeimage317
	url = https://github.com/kfprimm/freeimage317
[submodule "src/assimp"]
	path = src/assimp
	url = https://github.com/assimp/assimp
[submodule "src/runtime/bb/ode/src"]
	path = src/runtime/bb/ode/src
	url = https://github.com/blitz3d-ng/ode
[submodule "src/runtime/bb/runtime.glfw3/glfw"]
	path = src/runtime/bb/runtime.glfw3/glfw
	url = https://github.com/glfw/glfw.git
[submodule "src/runtime/bb/blitz2d/freetype2"]
	path = src/freetype2
	url = git://git.sv.nongnu.org/freetype/freetype2.git
[submodule "src/portaudio"]
	path = src/portaudio
	url = https://git.assembla.com/portaudio.git
