*.sbl
*.plg
*.aps
*.ncb
*.opt
*.exe
*.dll
*.lib
*.log
*.exp
*.asm
*.res
*.ilk
*.pdb
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
.vs/
*.VC.VC.opendb
*.VC.db
*.obj
*.pch
*.tlog
*.lastbuildstate
UpgradeLog.htm

*.bb_bak*

_release/bin
_release/cfg/blitzide.prefs
_release/tmp

/build
/innosetup/installs
