[submodule "freeimage"]
	path = deps/freeimage/src
	url = https://github.com/blitz3d-ng/freeimage
[submodule "assimp"]
	path = deps/assimp/src
	url = https://github.com/assimp/assimp.git
[submodule "enet"]
	path = deps/enet/src
	url = https://github.com/lsalzman/enet.git
[submodule "ode"]
	path = deps/ode/tree
	url = https://github.com/blitz3d-ng/ode
[submodule "freetype2"]
	path = deps/freetype2/tree
	url = https://github.com/blitz3d-ng/freetype2.git
[submodule "vorbis"]
	path = deps/vorbis/src
	url = https://github.com/xiph/vorbis.git
[submodule "ogg"]
	path = deps/ogg/src
	url = https://github.com/xiph/ogg.git
[submodule "crossguid"]
	path = deps/crossguid/src
	url = https://github.com/graeme-hill/crossguid.git
[submodule "src/deps/zlib/src"]
	path = deps/zlib/tree
	url = https://github.com/madler/zlib.git
[submodule "src/deps/json-hpp/src"]
	path = deps/json-hpp/tree
	url = https://github.com/nlohmann/json.git
[submodule "deps/wxwidgets/tree"]
	path = deps/wxwidgets/tree
	url = https://github.com/wxWidgets/wxWidgets
[submodule "deps/sdl/tree"]
	path = deps/sdl/tree
	url = https://github.com/libsdl-org/SDL.git
[submodule "deps/toml11/tree"]
	path = deps/toml11/tree
	url = https://github.com/ToruNiina/toml11.git
