*.sbl
*.plg
*.aps
*.ncb
*.opt
*.exe
*.dll
*.dylib
*.so
*.app/
*.lib
*.a
*.jar
*.zip
*.keystore
*.log
*.exp
*.asm
*.res
*.ilk
*.pdb
*.dSYM/
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
.vs/
*.VC.VC.opendb
*.VC.db
*.obj
*.o
*.pch
*.tlog
*.lastbuildstate
UpgradeLog.htm
*.tmp

*.DS_Store
*._*

*.bb_bak*

_release/bin/**/*.i
_release/bin/**/*.xml
_release/bin/**/*.toml
_release/bin/blitzcc
_release/bin/ide2
_release/cfg/blitzide.prefs
_release/cfg/blitzide.toml
_release/help/index.html
_release/help/credits.html
_release/help/assets/
_release/help/language
_release/help/reference/modules
_release/help/reference/index.html
_release/help/reference/commands.js
_release/tmp
_release/toolchains
_release/userlibs/*.dll
_release/userlibs/*.decls
_release/**/*.manifest

/build
/coverage/
/innosetup/installs

/emsdk
/llvm*
/ovr-sdk

/tmp
