[submodule "freeimage"]
	path = deps/freeimage/src
	url = https://github.com/blitz3d-ng/freeimage
[submodule "assimp"]
	path = deps/assimp/src
	url = https://github.com/assimp/assimp.git
[submodule "enet"]
	path = deps/enet/src
	url = https://github.com/lsalzman/enet.git
[submodule "ode"]
	path = deps/ode/src
	url = https://github.com/blitz3d-ng/ode
[submodule "glfw3"]
	path = deps/glfw3/src
	url = https://github.com/glfw/glfw.git
[submodule "freetype2"]
	path = deps/freetype2/src
	url = https://github.com/blitz3d-ng/freetype2.git
[submodule "vorbis"]
	path = deps/vorbis/src
	url = https://github.com/xiph/vorbis.git
[submodule "ogg"]
	path = deps/ogg/src
	url = https://github.com/xiph/ogg.git
[submodule "crossguid"]
	path = deps/crossguid/src
	url = https://github.com/graeme-hill/crossguid.git
[submodule "src/deps/glfm/src"]
	path = deps/glfm/src
	url = https://github.com/brackeen/glfm.git
[submodule "src/deps/zlib/src"]
	path = deps/zlib/src
	url = https://github.com/madler/zlib.git
[submodule "src/deps/backward-cpp"]
	path = deps/backward-cpp
	url = https://github.com/bombela/backward-cpp.git
[submodule "src/deps/libunwind"]
	path = deps/libunwind
	url = http://llvm.org/git/libunwind
	branch = release_70
[submodule "src/deps/json-hpp/src"]
	path = deps/json-hpp/src
	url = https://github.com/nlohmann/json.git
