*.sbl
*.plg
*.aps
*.ncb
*.opt
*.exe
*.dll
*.dylib
*.lib
*.log
*.exp
*.asm
*.res
*.ilk
*.pdb
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
.vs/
*.VC.VC.opendb
*.VC.db
*.obj
*.pch
*.tlog
*.lastbuildstate
UpgradeLog.htm
*.tmp

.DS_Store

*.bb_bak*

_release/bin
_release/lib
_release/cfg/blitzide.prefs
_release/tmp
_release/help/reference/modules
_release/help/reference/index.html
_release/help/reference/commands.json

.coverage/

src/runtime/premake

/build
/innosetup/installs

/src/runtime/*.stub.cpp
/src/runtime/*.modules.txt

/tmp
