html, body {
  height: 100%;
  margin: 0;padding: 0;
}

* {
  font-family: 'Source Sans Pro', sans-serif;
}

body {
	color: #ffffff;
	/*font: 8pt verdana;*/
	background: #003d78;
}

h1
{
	/*font: bold 10pt verdana;*/
  margin-top: 0;
}

ul
{
	margin: 0px 32px;
  padding: 0;
}

table
{
	background: #003566;
	width: 100%;
}

a {
	color: #fff000;
	text-decoration: none;
}

a:hover
{
	color: #fff000;
	background: #0088ee;
	text-decoration: none;
}

pre.code
{
	color: #44ff00;
	background: #000000;
	margin: 8px;
}


/* new */

code pre {
  background: #003566;
  padding: 10px;
  font-family: monospace;
}

code {
  background: #003566;
}

.list, .main {
  box-sizing: border-box;
}

.list-container {
  box-sizing: content-box;

  position: fixed;
  top: 0;
  bottom: 0;left: 0;

  width: 250px;
}

.list {
  width: 100%;
  padding: 10px;

  border-right: 1px solid #fff;
}

.main {
  position: absolute;
  left: 250px;
  padding: 10px;
}

.command-list {
  overflow: scroll;
  position: fixed;
  top: 370px;
  width: 100%;
  bottom: 0;
}

.list ul  {
  margin: 0;
}

.list ul ul {
  margin-left: 20px;
}

.list li a.active {
  color: #fff;
}

#search {
  width: 100%;
  border: 0;
  padding: 5px;
  box-sizing: border-box;
}

.hidden {
  display: none;
}
