<div class="full-page">
  <% title 'Blitz3D Launch Page' %>

  <h2>Welcome To Blitz3D "NG"!</h2>
  <p>To return to this page at any time, just click the 'home' icon in the toolbar.</p>

  <ul class="main-menu">
    <li>
      <a href="../samples">Samples</a> - a collection of 3D samples to whet your appetite!
    </li>
    <li>
      <a href="./tutorials/gcuk_tuts/index.html">3D Tutorials</a> - if you're already confident using Blitz Basic, check out these detailed tutorials.
    </li>
    <li>
      <a href="./tutorials/basic_tuts/index.html">Basic Tutorials</a> - completely new to programming? These tutorials are just the place to start.</li>
    <li>
      <a href="./reference/index.html">Command Reference</a> - for the low down on the Blitz3D command set.
    </li>
    <li>
      <a href="language/index.html">Language Reference</a> - describes the Blitz programming language in detail.
    </li>
    <li>
      <a href="../media/geometricks_models/*.3ds">Geometricks Models</a> - a collection of 3D models kindly donated by Geometricks.</li>
    <li>
      <a href="../games">Games</a> - a few small games written in Blitz3D</li>
    <li>
      <a href="credits.html">Credits</a> - who did what...
    </li>
  </ul>

  <p>If you experience any problems running Blitz3D "NG", please file an issue on
  <a href="https://github.com/blitz3d-ng/package/issues" target="_blank">GitHub</a>.</p>
</div>
