body {
  color: #ffffff;
  font: 10pt verdana;
  background: #006060;
  margin: 32px;
}
h1 {
  color: #00ff44;
  font: bold 10pt verdana;
}

a {
  color: #ffff00;
  text-decoration: none;
}
a:hover {
  color: #00ff44;
  text-decoration: underline;
}

ul {
  color: #ffffff;
  list-style-type: disc;
  margin: 16px;
  padding-left: 10px;
}

li {
  padding-bottom: 20px;
}
