html, body {
  height: 100%;
  overscroll-behavior: none;
}

$bgcolor: #006060;
$txcolor: #ffffff;

* {
  box-sizing: border-box;
  line-height: 1.5;
}

body {
  color: $txcolor;
  text-shadow: 0.5px 0.5px invert($txcolor);
  font: 0.9em verdana;
  background: $bgcolor;
  margin: 0;

  display: flex;
  flex-direction: column;
}

h1, h2, h3 {
  color: #00ff44;
  font-family: verdana;
  font-weight: bold;
}

h1 {
  font-size: 1.5em;
}

h2 {
  font-size: 1em;
}

a {
  color: #ffff00;
  text-decoration: none;
}
a:hover {
  color: #00ff44;
  text-decoration: underline;
}

ul {
  color: #ffffff;
  list-style-type: disc;
  padding-left: 10px;
}

.clear { clear: both; }
.hidden { display: none; }

ul.main-menu {
  margin-left: 16px;
  li {
    padding-bottom: 20px;
  }
}

table {
  width: 100%;
  font-size: 80%;

  td {
    color: #000000;
    text-shadow: none;
    background-color: #DDDDDD;
    border-color: #333333 #FFFFFF #FFFFFF #333333;
    border-style: ridge;
    border-top-width: thin;
    border-right-width: thin;
    border-bottom-width: thin;
    border-left-width: thin
  }
}

nav {
  padding: 0 32px;
  height: 45px;

  display: flex;
  flex-direction: row;

  h1 {
    font-size: 12pt;
    flex: 1;
  }

  img {
    height: 100%;
  }
}

main {
  display: flex;
    overflow: scroll;

  $sidebar-width: 280px;
  .sidebar {
    flex: 0 0 $sidebar-width;
    max-width: $sidebar-width;
    overflow: scroll;

    padding: 0 32px 0 16px;
    border-right: 2px solid darken($bgcolor, 2%);
  }

  .content {
    flex-grow: 1;
    overflow: scroll;
    padding: 0 32px 16px 32px;
    border-left: 2px solid darken($bgcolor, 2%);
  }
}

// TODO: make prettier
@mixin code {
  background-color: #ddd;
  color: #000;
  text-shadow: none;
  border: 1px solid #000;
  border-radius: 3px;
}

kbd {
  @include code;
  padding: 2px;
}

code {
  @include code;
  display: block;
  padding: 0.5em;

  pre {
    padding: 0;
    margin: 0;
  }
}

.full-page {
  padding: 0 32px;
}

.command-reference {
  #search {
    width: 100%;
    margin-top: 8px;
    outline: none;
  }

  .toggle-group {
    display: flex;
    border: 1px solid darken($bgcolor, 2%);
    border-radius: 2px;

    background: darken($bgcolor, 10%);

    a {
      flex: 1;
      text-align: center;

      &:first-child { border-right: 1px solid #ffffff; }
      &:last-child { border-left: 1px solid #ffffff; }

      //color: darken($bgcolor, 2%);
    }
  }


}

.v-stack {
  display: flex;
  flex-direction: column;
}
